{% extends "index/header.html" %}
{% load static %}
{% block head %}  

{% endblock %}
{% block content %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12"><div class="col-md-8">
                    <h1 class="page-header">External EPG Deployment</h1>
                    <form method="post" id="external_epg" class="form-inline" enctype="multipart/form-data">{% csrf_token %}
                      <div class="form-group">
                        <select class="form-control-sm" name="location" id="location" required="required" >
                              <option>DC1</option>
                              <option>DC2</option>
                              <option>LAB</option>
                              <option>SANDBOX</option>
                        </select>
                      </div>
                      <div class="form-group">
                        <div class="custom-file">
                          <input type="file" class="custom-file-input" name="file" id="file" accept=".xlsx" required="required">
                    </div>
                  </div>
                  <button type="submit" id="upload_btn" class="btn btn-default">Upload <span class="glyphicon glyphicon-upload"></span></button>
                </form>
                <button type="submit" id="deploy_btn" style="visibility: hidden;" class="btn btn-primary">Deploy <span class="glyphicon glyphicon-play-circle"></span></button>
                <a href="/aci/external_epg_deployment/"><button type="submit" id="new_file_btn" style="visibility: hidden;" class="btn btn-default navbar-btn"><span class="glyphicon glyphicon-new-window"></span> New File</button></a>
                </div>
                <!-- /.col-lg-12 -->
            </div>
			</div>
               <p id="externnal_epg_result"></p>
            <div class="row">
		<div class="col-lg-12">
                    <div class="panel panel-default" style="visibility: hidden;" id="resultdiv">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="epg_deployment_results">
                                <!-- Data goes here -->
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
		</div>
{% endblock %}	
		
{% block scripts %}


<script type="text/javascript">
    var frm = $('#external_epg');
    var rslt = $('#externnal_epg_result');


    frm.submit(function(e) {
    e.preventDefault();
    var formData = new FormData(this);
    document.getElementById("resultdiv").style.visibility = "hidden";

        $.ajax({
            type: 'post',
            url: frm.attr('action'),
            data: formData,
            cache: false,
            processData: false,
            contentType: false,

            success: function (data) {
                if (data.task_id != null) {
                    get_task_info(data.task_id, data.location, data.rule_list);
                }
            },
            error: function (data) {
                document.getElementById("resultdiv").style.visibility = "hidden";
                console.log("Something went wrong!");
            }
        });
        return false;
    });

    function deploy_configuration(location, rule_list) {
        $("deploy_btn").click(function(){
            alert(location)

        });

    }

    function get_task_info(task_id, location, rule_list) {
        $.ajax({
            type: 'get',
            url: '/get_task_info/',
            data: {'task_id': task_id},
            success: function (data) {
                rslt.html('');
                if (data.state == 'PENDING') {
                    rslt.html('Please wait...');
                }
                else if (data.state == 'SUCCESS') {
                    <!-- Clear Old  Data -->
                    document.getElementById("epg_deployment_results").innerHTML = "";
                    document.getElementById("resultdiv").style.visibility = "visible";
                    var results = data.result;
                    var result_location = document.getElementById("epg_deployment_results")
                    var validation_error = false;
                    for (i = 0, len = results.length, text = ""; i < len; i++) {
                        if (results[i].Notifications) {
                            var p_not = document.createElement("p");
                            result_location.appendChild(p_not);
                            p_not.innerHTML = results[i].Notifications;
                        }
                        if (results[i].Errors) {
                            var p_err = document.createElement("p");
                            result_location.appendChild(p_err);
                            p_err.innerHTML = results[i].Errors;
                        }

                        if ("Errors" in results[i]) {
                            var validation_error = true
                        }
                    }

                    if (validation_error){
                        var p_error = document.createElement("p");
                        result_location.appendChild(p_error);
                        p_error.innerHTML = "Errors found. Please fix and try again.";
                    }

                    if (!validation_error){
                        document.getElementById("deploy_btn").style.visibility = "visible";
                        document.getElementById("new_file_btn").style.visibility = "visible";
                        document.getElementById("upload_btn").style.visibility = "hidden";
                        document.getElementById("location").disabled = true;
                        document.getElementById("file").disabled = true;
                        deploy_configuration(location, rule_list);


                    }
                }
                if (data.state != 'SUCCESS') {
                    setTimeout(function () {
                        get_task_info(task_id, location, rule_list)
                    }, 1000);
                }
            },
            error: function (data) {
                document.getElementById("resultdiv").style.visibility = "hidden";
                rslt.html("Something went wrong!");

            success()
            }
        });
    }
</script>
<!--
<script>
    $(document).ready(function() {
        $('#endpoint_table').DataTable({
            responsive: true,
            "language": {
                "search": "Filter records:"
            },
        } );
    } );
</script>
-->
{% endblock %}
