{% extends "index/header.html" %}
{% load static %}
{% block head %}  
    
<!-- DataTables CSS -->
    <link href="{% static 'index/vendor/datatables-plugins/dataTables.bootstrap.css' %}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{% static 'index/vendor/datatables-responsive/dataTables.responsive.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12"><div class="col-md-3">
                    <h1 class="page-header">Endpoint Search</h1>
					<form role="form" id="endpoint_search" method="post" enctype="multipart/form-data">{% csrf_token %}
					<div class="form-group input-group">
						<input type="text" placeholder="Enter Subnet" required="required" name="endpoint_search" class="form-control">
						<span class="input-group-btn">
							<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
						</span>
					</div>
					</form>
                </div>
                <!-- /.col-lg-12 -->
            </div>
			</div>
               <p id="endpoint_results"></p>			
            <div class="row">
		<div class="col-lg-12">
                    <div class="panel panel-default" style="visibility: hidden;" id="tablediv">
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="endpoint_table">
                                <thead>
                                    <tr>
                                        <th class="text-center">Location</th>
                                        <th class="text-center">Tenant</th>
                                        <th class="text-center">App Prof / L3Out</th>
                                        <th class="text-center">EPG Name</th>
                                        <th class="text-center">Subnet</th>
                                        <th class="text-center">Security</th>
                                        <th class="text-center">Import</th>
                                        <th class="text-center">Export</th>
                                        <th class="text-center">Internal / External</th>
                                    </tr>
                                </thead>
                                <tbody id="result_table">
                                </tbody>
                            </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
		</div>
{% endblock %}	
		
{% block scripts %}
    	
    <script src="{% static 'index/vendor/datatables/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'index/vendor/datatables-plugins/dataTables.bootstrap.min.js' %}"></script>
    <script src="{% static 'index/vendor/datatables-responsive/dataTables.responsive.js' %}"></script>
    <script src="{% static 'aci_deployment/js/aci_endpoint_search.js' %}"></script>
<!--
<script>
    $(document).ready(function() {
        $('#endpoint_table').DataTable({
            responsive: true,
            "language": {
                "search": "Filter records:"
            },
        } );
    } );
</script>
-->
{% endblock %}
