<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Network Deployment Tool">
    <meta name="author" content="Fraser Henshaw">
    {% block head %}
    {% endblock %}
    <title>Network Deployment Tool</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'index/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Alert CSS -->
    <link href="{% static 'index/css/sweetalert.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'index/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'index/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'index/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/index/">Network Deployment Tool</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="/logout/"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        {% if environment != 'Pre-Production' or role != 'F5_Operator' %}
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> ACI Tools<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/aci/endpoint_search/"><i class="fa fa-search"></i> Endpoint Search</a>
                                </li>
                                <li>
                                    <a href="/aci/external_epg_deployment/"><i class="fa fa-cog"></i> External EPG Deployment</a>
                                </li>
                                <li>
                                    <a href="/aci/contract_deployment/"><i class="fa fa-cog"></i> Contract Deployment</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        {% endif %}
                        <li>
                            <a href="#"><i class="fa fa-sitemap fa-fw"></i> F5 Tools<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/f5/generic_search/"><i class="fa fa-search"></i> F5 Search</a>
                                </li>
                                <li>
                                    <a href="/f5/vs_deployment/"><i class="fa fa-cog"></i> Virtual Server Deployment</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        {%  if url_list|length > 0 %}
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i> External Links<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level collapse">
                                {% for url in url_list  %}
                                <li>
                                    <a href="{{ url.url }}" target="_blank">{{ url.name }}</a>
                                </li>
                                {%  endfor %}
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
{% block content %}
<!-- Page Content -->
{% endblock %}
    </div>
    <!-- /#wrapper -->
    <!-- Alerts-->
    <script src="{% static 'index/js/sweetalert.min.js' %}"></script>

    <!-- jCookie-->
    <script src="{% static 'index/js/js-cookie.js' %}"></script>

    <!-- ClickListner-->
    <script src="{% static 'index/js/click_listner.js' %}"></script>

    <!-- jQuery -->
    <script src="{% static 'index/vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'index/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'index/vendor/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'index/dist/js/sb-admin-2.js' %}"></script>

    <!-- CSRF Token -->
    <script src="{% static 'index/js/csrftoken.js' %}"></script>

    <!-- Load SVG Files
    <script src="{% static 'index/js/svg-load.js' %}"></script>
    -->

    {% block scripts %}
    {% endblock %}
</body>

</html>
