<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Network Deployment Tool">
    <meta name="author" content="Fraser Henshaw">
    {% block head %}
    {% endblock %}
    <title>Network Deployment Tool - Login</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'index/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'index/vendor/metisMenu/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'index/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'index/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Sign In</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" id="login" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                    <select class="form-control" name="environment" id="environment" required="required">
                                        <option value="" selected disabled>Select Environment</option>
                                        <option>Production</option>
                                        <option>Pre-Production</option>
                                        <option>Lab</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="ADM Account"required="required" name="username" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Password" name="password" type="password" required="required" value="">
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="button" class="btn btn-outline btn-success btn-lg btn-block">Login</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="{% static 'index/vendor/jquery/jquery.min.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'index/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{% static 'index/vendor/metisMenu/metisMenu.min.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'index/dist/js/sb-admin-2.js' %}"></script>

    <script type="application/javascript">

    var frm = $('#login');
    var rslt = $('#login_results');
    frm.submit(function () {
        $.ajax({
            type: 'post',
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                alert(data.message)
            },
            error: function (data) {
                alert(data.message)
            },
        });
        return false;
    })
    </script>
    {% block scripts %}


    {% endblock %}
</body>

</html>
